<!doctype html>
<html lang=en >
<head>
<meta charset=utf-8 >
<title>Select R1</title>
<meta name=viewport content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no' >
<meta name=description content='Select or enter a query for the GitHub User API.
Select a user from the list of results or enter a user name.
Preview many aspects of their GitHub corpus. Monitor recent activity 
' >
<meta name=keywords content='Jaanga,Theo Armour,GitHub API,CSS,HTML,JavaScript,GitHub,FOSS' >
<meta name=date content='2016-10-19' >
</head>
<body>
<script src=https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.3/showdown.min.js ></script>
<script src=../0-cor-core/core-r1.js ></script>
<script src=../1-api-authentication/api-authentication-r1.js ></script>
<script src=../2-sel-select/sel-select-r1.js ></script>
<script src=../usr-users/users-r1.js ></script>
<script>

	init();

	function init() {

		COR.taglineHeader += '+ a select howdy!' + b;

		COR.initThreeColumns();

		COR.menu.innerHTML =

			COR.getMenuDetailsHeader() +

			API.getMenuDetailsAPIAccessToken() +

			SEL.getMenuDetailsSelectGroup() +

			SEL.getMenuDetailsSelectUser() +

			COR.getMenuDetailsAbout() +

			COR.getMenuFooter() +

		b;

//		selGroup.value = 'listTheo';

		SEL.setUserDetails();

	}



	SEL.getUserDetails = function( user ) {

		location.hash = user;

		if ( DAT.getUserData ) { // for testing

			DAT.getUserData( user );

			switch( DAT.currentTopic ) {

				case 'events':
					DAT.getEvents ( user, 0, contents )
					break;
				case 'gists':
					DAT.getGists ( user )
					break;
				case 'orgs':
					DAT.getOrgs( user ) 
					break;
				case 'repos':
					DAT.getRepos( user ) 
					break;
				case 'stats':
//					EUS.buildStatsReport( user )
					break;
				default:
					DAT.getRepos( user ) 

			}

//		DAT.getRepos( user );

		}

// updates contents and right side
 
		if ( EUS.requestGitHubAPIUserEvents ) { // for testing

			EUS.target = updates;
			EUS.requestGitHubAPIUserEvents( user );

		}

	}

</script>
</body>
</html>
