<!doctype html>
<html lang=en >
<head>
<meta charset=utf-8 >
<title>Core1 Hamburger Leader Photos R1</title>
<meta name=viewport content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no' >
<meta name=description content='Jaanga Templates Core1 Core R1. The essential HTML, CSS and JavaScript to get sarted
' >
<meta name=keywords content='Jaanga,GitHub API,CSS,HTML,JavaScript,GitHub,FOSS' >
<meta name=date content='2016-09-25' >
</head>
<body>
<script src=https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.3/showdown.min.js ></script>
<script src=../../core1/0-def-defaults/defaults-r1.js ></script>
<script src=../../core1/0-cor-core/core-r1.js ></script>
<script>
// Copyright &copy; 2016 Jaanga authors. MIT License


	init();

	function init() {

		DEF.menuHeaderTagline = 'A hard core howdy!' + b;

		COR.initLeftMenu();

		COR.menu.innerHTML =

			COR.getMenuDetailsHeader() +

			COR.getMenuBreadCrumbs() +

			COR.getMenuDetailsTemplate() +

//			COR.getMenuDetailsObjectProperties() +

			COR.getMenuDetailsAbout() +

			COR.getMenuFooter() +

		b;

		detailsTemplate.setAttribute('open', 'open');

		window.addEventListener ( 'hashchange', onHashChange, false );

		onHashChange();

	}


	function onHashChange() {

		var item;

		item = location.hash ? location.hash.slice( 1 ) : DEF.searchInFolder;

		if ( item.endsWith( '.md' ) === true ) {

			COR.setMenuBreadCrumbs( DEF.searchInFolder );

			COR.requestFile( GET.urlGITHubAPITreeContents + item, function callbackMD( xhr ) {

				if ( xhr.target.status !== 404 ) {

					COR.contents.innerHTML = COR.converter.makeHtml( xhr.target.responseText );

				}

//				COR.contents.style.overflow = 'auto';

			} );

		} else {

//console.log( 'item', item );

			COR.setMenuBreadCrumbs( item );

			COR.requestFile( DEF.urlGHPages + item + '/' + DEF.defaultFile, function callbackMD( xhr ) {

				COR.contents.innerHTML = COR.converter.makeHtml( xhr.target.responseText );
//				COR.contents.style.overflow = 'auto';

			} );

		}

	}


</script>
</body>
</html>
