<!doctype html>
<html lang=en >
<head>
<meta charset=utf-8 >
<title>Get Tree leader Photos R1</title>
<meta name=viewport content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no' >
<meta name=description content='
' >
<meta name=keywords content='Jaanga,GitHub API,CSS,HTML,JavaScript,GitHub,FOSS' >
<meta name=date content='2016-09-13' >
</head>
<body>
<script src=https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.3/showdown.min.js ></script>
<script src=../../core1/0-def-defaults/defaults-r1.js ></script>
<script src=../../core1/0-cor-core/core-r2.js ></script>
<script src=../../core1/mnu-menu-left/mnu-menu-left-r1.js ></script>
<script src=../../core1/tre-tree/get-tree-r1.js ></script>
<script>

DEF.user = 'leaderphotos';
DEF.repo = 'leaderphotos.github.io';
DEF.branch = 'master';
DEF.searchInFolder = 'albums/';
DEF.defaultFile	= '../README.md'; // if no default, select a random file

	DEF.urlGITHubAPITreeContents = 'https://api.github.com/repos/' + DEF.user + '/' + DEF.repo + '/git/trees/' + DEF.branch + '?recursive=1';


	DEF.urlBase = 'https://github.com/' + DEF.user + '/' + DEF.repo + DEF.searchInFolder;

//	DEF.urlEvents = 'https://api.github.com/users/' + DEF.user + '/events';
//	DEF.urlIssues = 'https://api.github.com/repos/' + DEF.user + '/' + DEF.repo + '/issues';


//	DEF.urlGHPages = 'https://' + DEF.user + '.github.io/' + DEF.repo + '/';
DEF.urlGHPages = 'https://' + DEF.user + '.github.io/';

//	DEF.readmeURL = DEF.urlGHPages + DEF.searchInFolder;
//	DEF.urlReadMeFile = DEF.urlGHPages + '#../README.md';

//	DEF.urlSource = 'https://github.com/' + DEF.user + '/' + DEF.repo + '/tree/' + DEF.branch + '/';


	init();

	function init() {

		MNU.taglineHeader += 'A hard core howdy!' + b;

		MNU.initLeftMenu();

		MNU.menu.innerHTML =

//			COR.getMenuDetailsHeader() +

			COR.getMenuBreadCrumbs() +

			GET.getMenuDetailsTableOfContents() +

			GET.getMenuDetailsPageActions() +

//			GET.getMenuRepositoryEvents() +

//			GET.getMenuDetailsRepositoryStatistics() +

			COR.getMenuDetailsAbout() +

			COR.getMenuFooter() +

		b;

		window.addEventListener ( 'hashchange', onHashChange, false );

		GET.getGitHubRepoTreeContents(); // calls onHashChange();

	}


	function onHashChange() {

		var item;

		item = location.hash ? location.hash.slice( 1 ) : DEF.searchInFolder;

		if ( item.endsWith( '.md' ) === true ) {

			COR.setMenuBreadCrumbs( DEF.searchInFolder );

		} else if ( item.endsWith( '.jpg' ) === true ) {

			COR.setMenuBreadCrumbs( item );

		} else {

//console.log( 'item', item );

			COR.setMenuBreadCrumbs( item );

			GET.getFilesFromFolder( item );

		}


		MNU.contents.innerHTML =

			'<h1>' + COR.title + '</h1>' +

			'File: ' + item + b + b +

			'<iframe src="' + DEF.urlGHPages + item + '" width=800 height=500 ></iframe>' +

		b;

	}

</script>
</body>
</html>
