<!doctype html>
<html lang=en >
<head>
<meta charset=utf-8 >
<title>Leader Photos R1</title>
<meta name=viewport content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no' >
<meta name=description content='Leader Photos
' >
<meta name=keywords content='Jaanga,GitHub API,CSS,HTML,JavaScript,GitHub,FOSS' >
<meta name=date content='2016-10-31' >
</head>
<body>
<script src=https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.3/showdown.min.js ></script>
<script src=../../core1/0-def-defaults/defaults-r1.js ></script>
<script src=../../core1/0-cor-core/core-r2.js ></script>
<script src=../../core1/mnu-menu-left/mnu-menu-left-r1.js ></script>
<script src=../../core1/get-files/get-files-r3.js ></script>
<!--
<script src=https://jaanga.github.io/cookbook-html/templates/core1/0-def-defaults/defaults-r1.js ></script>
<script src=https://jaanga.github.io/cookbook-html/templates/core1/0-cor-core/core-r2.js ></script>
<script src=https://jaanga.github.io/cookbook-html/templates/core1/mnu-menu-left/mnu-menu-left-r1.js ></script>
<script src=https://jaanga.github.io/cookbook-html/templates/core1/get-files/get-files-r3.js ></script>

-->
<script>

	DEF.user = 'leaderphotos';
	DEF.repo = 'leaderphotos.github.io';
	DEF.branch = 'master';
	DEF.searchInFolder = 'albums/';
	DEF.defaultFile	= '../README.md';

	DEF.urlGITHubAPITreeContents = 'https://api.github.com/repos/' + DEF.user + '/' + DEF.repo + '/git/trees/' + DEF.branch + '?recursive=1';
	DEF.urlGHPages = 'https://' + DEF.user + '.github.io/';

	init();

	function init() {

		MNU.taglineHeader = 'A hard core howdy!' + b;


		MNU.initLeftMenu();

		MNU.css.innerHTML += '.CORmenuBreadCrumbs {display: none; }';

		MNU.menu.innerHTML =

//			COR.getMenuDetailsHeader() +

			COR.getMenuBreadCrumbs() +

			GET.getMenuDetailsTableOfContents() +

//			GET.getMenuDetailsPageActions() +

			COR.getMenuDetailsAbout() +

			COR.getMenuFooter() +

		b;

		window.addEventListener ( 'hashchange', onHashChange, false );

		GETmenuToCSummary.innerHTML = 'Albums';

		GET.getGitHubRepoTreeContents(); // calls onHashChange();

	}


	function onHashChange() {

		var item;

		item = location.hash ? location.hash.slice( 1 ) : DEF.searchInFolder;

		if ( item.endsWith( '.md' ) === true ) {

			COR.setMenuBreadCrumbs( DEF.searchInFolder );

		} else if ( item.endsWith( '.html' ) === true ) {

			COR.setMenuBreadCrumbs( DEF.searchInFolder );

		} else {

console.log( 'item', item );

			COR.setMenuBreadCrumbs( item );

			CORmenuRepo.style.display = 'none';

			GET.getFilesFromFolder( item );

//			MNU.contents.innerHTML = item; // COR.converter.makeHtml( xhr.target.responseText );

		}

	}

</script>
</body>
</html>
