* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

#container {
    width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

ul, li {
    list-style: none;
}

li {
    margin-bottom: 10px;
}