<!doctype html>
<html lang=en >
<head>
<meta charset=utf-8 >
<title>Menu Contents Browser Template R1</title>
<meta name=viewport content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui' >
<meta name=description content='' >
<meta name=keywords content='WebGL,Three.js,Tween.js,JavaScript,GitHub,FOSS,3D,STEM' >
</head>
<body>
<script src=http://cdnjs.cloudflare.com/ajax/libs/showdown/1.3.0/showdown.min.js ></script>
<script>
	var defaultFile = './readme.md';
	var menuMarkdown = `

[Jaanga]( http://jaanga.github.io ) » [Documents]( http://jaanga.github.io/documents/ )

## [${ document.title }]( menu-contents-browser-r1.html )

***

[Read Me]( #../readme.md )

## Documents

[Fourmilab]( #https://www.fourmilab.ch/yoursky/ ) - iframe   
[Space Place]( #http://spaceplace.wisc.edu/ ) -iframe 

[Google]( ##http://google.com ) - no load   
[Medium]( ##https://medium.com/@G___A/70-tools-no-remote-employee-should-do-without-84e42d4b6e06 )

[![]( ./Icon_External_Link.png ) Mr.doob\'s Code Style™](https://github.com/mrdoob/three.js/wiki/Mr.doob%27s-Code-Style%E2%84%A2)  

[Does MrDoob Approve?]( #https://raw.githubusercontent.com/zz85/mrdoobapproves/gh-pages/README.md )  

[Showdown Coding Style](#https://raw.githubusercontent.com/showdownjs/code-style/master/README.md)  

<!-- [Showdown Coding Style](#../github-markdown-reader-showdown-coding-style.html)  -->

[Google HTML/CSS Style Guide](#https://google.github.io/styleguide/htmlcssguide.xml)  

[Google JavaScript Style Guide](#https://google.github.io/styleguide/javascriptguide.xml)  

[![]( ./Icon_External_Link.png ) GitHub Styleguide](https://github.com/styleguide/javascript )  

[Principles of Writing Consistent, Idiomatic JavaScript](#https://raw.githubusercontent.com/rwaldron/idiomatic.js/master/readme.md)  

<!--[Principles of Writing Consistent, Idiomatic JavaScript](#../github-markdown-reader-rwaldron-coding-style.html)  -->

[Airbnb JavaScript Style Guide](#https://raw.githubusercontent.com/airbnb/javascript/master/README.md)  

<!-- [Airbnb JavaScript Style Guide 2](#../github-markdown-reader-airbnb-coding-style.html) --> 

[Node.js Style Guide](#https://raw.githubusercontent.com/felixge/node-style-guide/master/Readme.md)  

[Pragmatic Standards: JavaScript Coding Standards and Best Practices](#https://raw.githubusercontent.com/stevekwan/best-practices/master/javascript/best-practices.md)  

[![]( ./Icon_External_Link.png ) W3schools Style Guide](http://www.w3schools.com/js/js_conventions.asp)  
[![]( ./Icon_External_Link.png ) jQuery JavaScript Style Guide](https://contribute.jquery.org/style-guide/js/)  
[![]( ./Icon_External_Link.png ) 10 Best JavaScript Style Guides Including Airbnb and Idiomatic](http://noeticforce.com/best-javascript-style-guide-for-maintainable-code )


Can we do this?

lorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?

<center title="dingbat" >
## <a href=javascript:content.scrollTop=0; >❦</a>
</center>
`;

	var converter;

	init();

	function init() {

		converter = new showdown.Converter();

		var css = document.head.appendChild( document.createElement( 'style' ) );
		css.innerHTML =
		`

			* { box-sizing: border-box; }
			body { font: 12pt monospace; margin: 0; overflow: hidden; }
			a { text-decoration: none; }
			h2 { margin: 0; }
			iframe { height:100%; width:100%; }

		`;

		var menu = document.body.appendChild( document.createElement( 'div' ) );
		menu.style.cssText = 'background-color: #ccc; height: 100%; max-width: 300px; overflow: auto; padding: 0 0 0 20px; position: absolute; '; 
		menu.innerHTML = converter.makeHtml( menuMarkdown );

		content = document.body.appendChild( document.createElement( 'div' ) );
		content.style.cssText = `border-width: 0px; height: 100%; left: 320px; margin: 0 auto; position: absolute; right: 0; top: 0; max-width: ${ window.innerWidth - 350 }px; `;

		window.addEventListener( 'resize', onWindowResize, false );
		window.addEventListener( 'hashchange', onHashChange, false );

		onHashChange();

	}

	function onHashChange() {

		url = location.hash ? location.hash.substr( 1 ) : defaultFile;

		document.title = url.split( '/' ).pop() + ' - menu-contents-browser-r1.html';

		if ( url.substr( -3 ) === '.md' ) {

			var xmlHttp = new XMLHttpRequest();
			xmlHttp.open( 'get', url, true );
			xmlHttp.onreadystatechange = function() {

				content.style.maxWidth = '800px';
				content.style.overflow = 'auto';
				content.innerHTML = xmlHttp.readyState === 4 ? converter.makeHtml( xmlHttp.responseText ) : '';

			};

			xmlHttp.send( null );

		} else if ( url.substr( 0, 1 ) === '#' ) {

			xmlHttp = new XMLHttpRequest();
			xmlHttp.open( 'get', url.substr( 1 ), true );
			xmlHttp.onreadystatechange = function() {

				content.style.maxWidth = '1100px';
				content.style.overflow = 'hidden';
				content.innerHTML = xmlHttp.readyState === 4 ? xmlHttp.responseText : '';

			};

			xmlHttp.send( null );

		} else {

			content.style.maxWidth = '1100px';
			content.style.overflow = 'hidden';
			content.innerHTML = '<iframe src=' + url + ' ></iframe>';

		}

		content.scrollTop = 0;

	}

	function onWindowResize() {

		content.style.width = ( window.innerWidth - 330 ) + 'px';

	}

</script>
</body>
</html>