<!doctype html>
<html lang=en >
<head>
<meta charset=utf-8 >
<title>User Data R3</title>
<meta name=viewport content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no' >
<meta name=description content='Obtains elevation data via the Google Maps API Elevation service..
' >
<meta name=keywords content='Jaanga,GitHub API,CSS,HTML,JavaScript,GitHub,FOSS' >
<meta name=date content='2016-08-30' >
</head>
<body>
<script src=https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.3/showdown.min.js ></script>
<script src=../0-cor-core/core-r1.js ></script>
<script src=../1-api-api-key/api-key-r1.js ></script>

<script src=../dat-data/data-r1.js ></script>
<script src=../user-events-big/user-events-big-r1.js ></script>
<script>

	var user = 'torvalds';
	var user = 'jaanga';
	var user = 'sagemath';
//	var user = 'mrdoob';
//	var user = 'ladybug-analysis-tools';
//	var user = 'torvalds';
//	var user = 'paulmasson';
	var user = 'theo-armour';

	init();

	function init() {

		COR.taglineHeader += '+ a searching howdy!' + b;

		COR.initThreeColumns();

		COR.menu.innerHTML =

			COR.getMenuDetailsHeader() +

	//		SER.getMenuDetailsSelectGroup() +

	//		SER.getMenuDetailsSelectUser() +

			DAT.getMenuDetailsUserData() +

			COR.getMenuDetailsAbout() +

			COR.getMenuFooter() +

		b;


		DAT.currentTopic = 'orgs';

		DAT.getUserData( user );

			switch( DAT.currentTopic ) {

				case 'events':
					DAT.getEvents ( user, 0, contents )
					break;
				case 'gists':
					DAT.getGists ( user )
					break;
				case 'orgs':
					DAT.getOrgs( user ) 
					break;
				case 'repos':
					DAT.getRepos( user ) 
					break;
				case 'stats':
//					EUS.buildStatsReport( user )
					break;
				default:
					DAT.getRepos( user ) 

			}


	}

</script>
</body>
</html>
