<!doctype html>
<html lang=en >
<head>
<meta charset=utf-8 >
<title>webSite via GitHub API2 R4 Templates</title>
<meta name=viewport content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no' >
<meta name=description content='Request details of all files in a GitHub repository.
Creates a file explorer with menu. 
Enables browsing and viewing of selected files.
Menu has breadcrumbs and other useful links. 
' >
<meta name=keywords content='CMS,JavaScript,GitHub Developer API,GitHub,FOSS,STEM' >
<meta name=date content='2016-08-26' >
</head>
<body>
<script src=https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.3/showdown.min.js ></script>
<script src=../core1/0-def-defaults/defaults-r1.js ></script>
<script>
// https://github.com/showdownjs/showdown

	DEF.branch = 'master';
	DEF.user = 'jaanga';
	DEF.repo = 'jaanga.github.io';

//	DEF.searchInFolder = '../../';

	DEF.urlGHPages = 'https://' + DEF.user + '.github.io/' + DEF.repo + '/';

	DEF.readmeURL = DEF.urlGHPages + DEF.searchInFolder;
//	DEF.urlReadMeFile = DEF.urlGHPages + '#readme.md';
	DEF.urlReadMeFile = '../../home/r5/readme.md';

	DEF.urlSource = 'https://github.com/' + DEF.user + '/' + DEF.repo + '/tree/' + DEF.branch + '/';

	DEF.urlGITHubAPITreeContents = 'https://api.github.com/repos/' + DEF.user + '/' + DEF.repo + '/git/trees/' + DEF.branch + '?recursive=1';

//	DEF.defaultFile = '#../../home/r5/readme.md';

</script>
<script src=../core1/0-cor-core/core-r1.js ></script>
<script src=../core1/1-key-api-key/api-key-r1.js ></script>
<script src=../core1/tre-tree/get-tree-r2.js ></script>
<script src=../core1/ifr-iframe-carousel/iframe-carousel-r1.js ></script>
<script src=../core1/red-readme-getter/readme-getter-r2.js ></script>
<!--
<script src=https://jaanga.github.io/cookbook-html/templates/core1/0-def-defaults/defaults-r1.js ></script>
<script src=https://jaanga.github.io/cookbook-html/templates/core1/0-cor-core/core-r1.js ></script>
<script src=https://jaanga.github.io/cookbook-html/templates/core1/1-key-api-key/api-key-r1.js ></script>
<script src=https://jaanga.github.io/cookbook-html/templates/core1/tre-tree/get-tree-r2.js ></script>
<script src=https://jaanga.github.io/cookbook-html/templates/core1/ifr-iframe-carousel/iframe-carousel-r1.js ></script>
<script src=https://jaanga.github.io/cookbook-html/templates/core1/red-readme-getter/readme-getter-r2.js ></script>
-->
<script>


	init();

	function init() {

//		location.hash ='../../../../../readme.md';

		COR.initThreeColumns();

		COR.menu.innerHTML =

			COR.getMenuBreadCrumbs() +

			TRE.getMenuDetailsTableOfContents() +

			TRE.getMenuDetailsPageActions() +

			TRE.getMenuRepositoryEvents() +

			TRE.getMenuDetailsRepositoryStatistics() +

			KEY.getMenuDetailsAPIKey() +

			KEY.getMenuDetailsAPIRates() +

			COR.getMenuDetailsAbout() +

			COR.getMenuFooter() +

		b;

		window.addEventListener ( 'hashchange', onHashChange, false );

		TRE.getGitHubRepoTreeContents(); // calls onHashChange();

	}


	function onHashChange() {

		var item;

		clearInterval( IFR.timer );

		item = location.hash ? location.hash.slice( 1 ) : DEF.searchInFolder;

		if ( item.endsWith( '.md' ) === true ) {

			COR.setMenuBreadCrumbs( DEF.searchInFolder );

			COR.requestFile( TRE.urlGITHubAPITreeContents + item, function callbackMD( xhr ) {

				if ( xhr.target.status !== 404 ) {

					COR.contents.innerHTML = COR.converter.makeHtml( xhr.target.responseText );

				}

			} );


		} else if ( item.endsWith( '.html' ) === true ) {

			COR.setMenuBreadCrumbs( item );

			COR.contents.innerHTML = RED.setReadMe( item );


		} else {

			COR.setMenuBreadCrumbs( item );

			TRE.getFilesFromFolder( item );

			if ( DEF.carousels.includes( item ) === true ) {

				if ( item === '/' ) { DEF.includeFullScreenChoices = false; } else { DEF.includeFullScreenChoices = true; }

				DEF.includeFullScreenChoices = item === '/' ? false : true;

				COR.requestFile( DEF.readmeURL + '/' + item + '/readme-body.md', RED.callback );

			} else {
console.log( '', DEF.urlGHPages, item );
				COR.requestFile( DEF.urlGHPages + item + '/' + DEF.defaultFile, function callbackMD( xhr ) {

					COR.contents.innerHTML = COR.converter.makeHtml( xhr.target.responseText );

				} );

			}

			KEY.getRateLimits();

			if ( !TRErepoStats.innerHTML ) { 

				TRE.setMenuDetailsRepositoryStatistics(); 
				TRE.getUpdates();

			}

		}

	}

</script>
</body>
</html>