<!doctype html>
<html lang=en >
<head>
<meta charset=utf-8 >
<title>Core R1</title>
<meta name=viewport content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no' >
<meta name=description content='
' >
<meta name=keywords content='Jaanga,GitHub API,CSS,HTML,JavaScript,GitHub,FOSS' >
<meta name=date content='2016-10-23' >
</head>
<body>
<script src=https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.3/showdown.min.js ></script>
<script src=../0-cor-core/core-r1.js ></script>
<script>

	init();

	function init() {

		COR.taglineHeader += '+ a hard core howdy!' + b;

		COR.initThreeColumns();

		COR.menu.innerHTML =

			COR.getMenuDetailsHeader() +

			COR.getMenuDetailsTemplate() +

			COR.getMenuDetailsAbout() +

			COR.getMenuFooter() +

		b;

		CORdetailsTemplate.setAttribute( 'open', 'open' );

		COR.contents = CORcontents;

		if ( window.self !== window.top ) { hamburger.style.left = '0px'; }

	}


</script>
</body>
</html>