<!doctype html>
<html lang=en >
<head>
<meta charset=utf-8 >
<title>Iframe Carousel R1</title>
<meta name=viewport content='width=device-width,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0' >
</head>
<body>
<script src=../iframe-carousel/iframe-carousel-r1.js ></script>
<script>

/*
	init();

	function init() {

		var css, content;

		css = document.body.appendChild( document.createElement('style') );
		css.innerHTML = 

			'body { font: 12pt monospace; margin: 0; overflow: hidden; }' +
			'button { background-color: white; border-width: 1px; margin-right: 5px; }' +
			'#buttons { width: ' + window.innerWidth + 'px; }' +

		'';

		var content = document.body.appendChild( document.createElement( 'div' ) );
		content.style.cssText = 'margin: 0; position: absolute;';
		content.innerHTML = 

			'<iframe id=IFRifr width=100% height=500px ></iframe>' +
			'<center><div id=buttons ></div></center>' +

		'';

//		IFRifr.onload = parent.IFR.setIrameContent();

	};

*/

</script>
</body>
</html>