<!doctype html>
<html lang=en >
<head>
<meta charset=utf-8 >
<title>GitHub API Menu of Read Me Files R1</title>
<meta name=viewport content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui' >
<meta name=description content='Browse and view files written in Markdown format.
Uses Github API to find directories with readme.md files.' >
<meta name=keywords content='Jaanga,GitHub API,JavaScript,GitHub,FOSS' >
<meta name=date content='2016-07-01' >
</head>
<body>
<script src=https://cdnjs.cloudflare.com/ajax/libs/showdown/1.3.0/showdown.min.js ></script>
<script>

// https://jaanga.github.io/cookbook-html/templates/menu-contents-browser/menu-github-api-readme-jaanga/

	var urlAPIContents = 'https://api.github.com/repos/jaanga/jaanga.github.io/git/trees/master?recursive=1';
	var converter = new showdown.Converter( { strikethrough: true, literalMidWordUnderscores: true, simplifiedAutoLink: true, tables: true });

	var defaultFile = 'readme.md';
	var defaultFolder = 'cookbook-html/templates/menu-contents-browser/';

	var files;

	init();

	function init() {

		var css, menu, contents;

		css = document.body.appendChild( document.createElement( 'style' ) );
		css.innerHTML =

			'body { font: 12pt monospace; margin: 0; }' +
			'a { color: crimson; text-decoration: none; }' +
			'button, input[type=button] { background-color: #eee; border: 2px #eee solid; color: #888; }' +

			'#menu { box-sizing: border-box; background-color: #ccc; height: 100%; max-width: 300px; overflow: auto; padding: 0 10px; position: absolute; }' +
			'#contents { border: 0px red solid; left: 350px; overflow: auto; position: absolute; top: 0; width: ' + ( window.innerWidth - 370 ) + 'px; }' +

		'';

		menu = document.body.appendChild( document.createElement( 'div' ) );
		menu.id = 'menu';

		contents = document.body.appendChild( document.createElement( 'div' ) );
		contents.id = 'contents';

		window.addEventListener ( 'hashchange', hashChange, false );

		requestAPIContents();

		hashChange();

	}

	function requestAPIContents() {

		var xhr, response, file;

		xhr = new XMLHttpRequest();
		xhr.open( 'GET', urlAPIContents, true );
		xhr.onload = callback;
		xhr.send( null );

		function callback() {

			response = JSON.parse( xhr.response );

			files = [];

			for ( var i = 0; i < response.tree.length; i++ ) {

				file = response.tree[ i ].path;

				if ( !file.match( 'menu-contents-browser' ) ) { continue; }

				if ( !file.match( 'readme.md' ) ) { continue; }

				files.push( file );

			}

//console.log( 'files', files );

			createTableOfContents();

		}

	}

	function createTableOfContents() {

		var txt

		txt =  
			'<h2>' +
				'<a href="" >' + document.title + '</a>' +
				'<a href=index.html#readme.md > &#x24D8; </a>' +
			'</h2>';

		for ( var i = 0; i < files.length; i++ ) {

			file = files[ i ].replace( defaultFolder, '' );
			txt += 

				'<h3><a href=#' + file + ' >'+ file + '<a></h3>' +

			'';

		}

		menu.innerHTML = txt + '';

	}


	function hashChange() {

		var fileName;

		fileName = location.hash ? location.hash.slice( 1 ) : defaultFile;

		getMarkdown( fileName, contents );

	}

	function getMarkdown( fileName, target ) {

		var xhr;

		xhr = new XMLHttpRequest();
		xhr.open( 'GET', fileName, true );
		xhr.onload = function() { target.innerHTML = converter.makeHtml( xhr.responseText ); };
		xhr.send( null );

	}

</script>
</body>
</html>
