<!doctype html>
<html lang=en >
<head>
<title>opener</title>
<meta charset=utf-8 >
<meta name=viewport content = 'width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0' >
</head>
<body>
<script>

	var script = document.body.appendChild( document.createElement( 'script' ) );

	script.onload = function() {

//		defaultFile = 'basic-html.html';
		defaultFile = 'index.html';
		defaultHash = 'notes.md';

		location.hash = defaultHash;

		init();

	}

	script.src = '../opener.js';
//	script.src='https://jaanga.github.io/cookbook-html/templates/opener/opener.js ';

</script>
</body>
</html>

<!--
<!doctype html>
<html lang = en >
<head>
<title>opener</title>
<meta charset = utf-8 >
<meta name = viewport content = 'width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0' >
</head>
<body>
<script src = ../opener.js /* http://jaanga.github.io/cookbook-html/templates/opener/opener.js */ ></script>
<script>

	var defaultHash = 'notes.md';
	var defaultFile = 'index.html';

	location.hash = defaultHash;

	init();

</script>
</body>
</html>
-->