<!doctype html>
<html lang=en >
<head>
<meta charset=utf-8 >
<title>Get Tree R1</title>
<meta name=viewport content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no' >
<meta name=description content='
' >
<meta name=keywords content='Jaanga,GitHub API,CSS,HTML,JavaScript,GitHub,FOSS' >
<meta name=date content='2016-09-13' >
</head>
<body>
<script src=https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.3/showdown.min.js ></script>
<script src=../../core1/0-def-defaults/defaults-r1.js ></script>
<script src=../../core1/0-cor-core/core-r1.js ></script>
<script src=../../core1/tre-tree/get-tree-r1.js ></script>
<script>


	init();

	function init() {

//		COR.taglineHeader = 'A hard core howdy!' + b;

		COR.initThreeColumns();

		COR.menu.innerHTML =

//			COR.getMenuDetailsHeader() +

			COR.getMenuBreadCrumbs() +

			GET.getMenuDetailsTableOfContents() +

			GET.getMenuDetailsPageActions() +

//			GET.getMenuRepositoryEvents() +

//			GET.getMenuDetailsRepositoryStatistics() +

			COR.getMenuDetailsAbout() +

			COR.getMenuFooter() +

		b;

		window.addEventListener ( 'hashchange', onHashChange, false );

		GET.getGitHubRepoTreeContents(); // calls onHashChange();

	}


	function onHashChange() {

		var item;

		item = location.hash ? location.hash.slice( 1 ) : DEF.searchInFolder;

		if ( item.endsWith( '.md' ) === true ) {

			COR.setMenuBreadCrumbs( DEF.searchInFolder );

		} else if ( item.endsWith( '.html' ) === true ) {

			COR.setMenuBreadCrumbs( item );

		} else {

//console.log( 'item', item );

			COR.setMenuBreadCrumbs( item );

			GET.getFilesFromFolder( item );

		}


		COR.contents.innerHTML = 

			'<h1>' + COR.title + '</h1>' +

			'File: ' + item + b + b +

			'<iframe src="' + DEF.urlGHPages + item + '" width=800 height=500 ></iframe>' +

		b;

	}

</script>
</body>
</html>