<!doctype html>
<html lang=en >
<head>
<title>Template Three.js Light R1</title>
<meta charset=utf-8 />
<meta name=viewport content='width=device-width,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0' />
</head>
<body>
<script src=http://mrdoob.github.io/three.js/build/three.min.js ></script>
<script src=http://mrdoob.github.io/three.js/examples/js/controls/OrbitControls.js ></script>
<script src=http://mrdoob.github.io/three.js/examples/js/libs/stats.min.js ></script>
<script>

	var css, menu, stats, renderer, scene, camera, controls;
	var lightAmbient, lightDirectional, lightPoint;
	var geometry, material, mesh, helper;

	var cubes = [];

	init();
	animate();

	function init() {

		css = document.head.appendChild( document.createElement( 'style' ) );
		css.innerHTML ='body { font: 600 12pt monospace; margin: 0; overflow: hidden; }' +
			'#i {text-decoration: none; }' +
		'';

		menu = document.body.appendChild( document.createElement( 'div' ) );
		menu.style.cssText = 'margin: 0 20px; position: absolute; ';
		menu.innerHTML = '<h2 style=margin:0; ><a href="" >' + document.title + '</a> ' +
			'<a id=i href=http://jaanga.github.io/ >&#x24D8;</a></h2>' +
			'<div id=info ></div>' +
		'';

		stats = new Stats();
		stats.domElement.style.cssText = 'position: absolute; right: 0; bottom: 0; z-index: 100; ';
		document.body.appendChild( stats.domElement );

		renderer = new THREE.WebGLRenderer( { alpha: 1, antialias: true, clearColor: 0xffffff }  );
		renderer.setSize( window.innerWidth, window.innerHeight );
		renderer.shadowMap.enabled = true;
		renderer.shadowMapSoft = true;
		document.body.appendChild( renderer.domElement );

		scene = new THREE.Scene();

		camera = new THREE.PerspectiveCamera( 40, window.innerWidth / window.innerHeight, 1, 5000 );
		camera.position.set( 100, 100, 100 );
		scene.add( camera ); // for light to follow

// controls
		controls = new THREE.OrbitControls( camera );
		controls.minDistance = 10;
		controls.maxDistance = 1000;

// lights
		lightAmbient = new THREE.AmbientLight( 0x444444 );
		scene.add( lightAmbient );

		lightDirectional = new THREE.DirectionalLight( 0xffffff, 0.25 );
		lightDirectional.position.set( -200, 200, 200 );

		var d = 100;
		lightDirectional.shadowCameraLeft = -d;
		lightDirectional.shadowCameraRight = d;
		lightDirectional.shadowCameraTop = d;
		lightDirectional.shadowCameraBottom = -d;

		lightDirectional.shadowCameraNear = 200;
		lightDirectional.shadowCameraFar = 500;

// can help stop appearance of gridlines in objects with opacity < 1
		lightDirectional.shadowBias = -0.001; // default 0 ~ distance from corners?
		lightDirectional.shadowDarkness = 0.3; // default 0.5
		lightDirectional.shadowMapWidth = 2048;  // default 512
		lightDirectional.shadowMapHeight = 2048;

		lightDirectional.castShadow = true;
		lightDirectional.shadowCameraVisible = true;
		scene.add( lightDirectional );

		lightPoint = new THREE.PointLight( 0xffffff, 0.25 );
		camera.add( lightPoint );
		lightPoint.position = new THREE.Vector3( 0, 0, 1 );


// Ground Plane
		geometry = new THREE.BoxGeometry( 100, 5, 100 );
		var material = new THREE.MeshPhongMaterial( {
			color: 0xffffff * Math.random(),
			emissive: 0xffffff * Math.random(),
			specular: 0xffffff * Math.random(),
			shininess: 30,
			side: THREE.DoubleSide
		} );

		mesh = new THREE.Mesh( geometry, material );
		mesh.position.set( 0, -10, 0 );
		mesh.castShadow = true;
		mesh.receiveShadow = true;
		scene.add( mesh );

		helper = new THREE.BoxHelper( mesh );
		helper.material.color.setRGB( 1, 0, 1 );
		scene.add( helper );

		var axisHelper = new THREE.AxisHelper( 50 );
		scene.add( axisHelper );

		var helper = new THREE.GridHelper( 50, 10 );
		helper.position.set( 0, -7.5, 0 );
		scene.add( helper );

// Sphere
		geometry = new THREE.SphereGeometry( 25, 50, 50 );

//		material = new THREE.MeshNormalMaterial();
		material = new THREE.MeshPhongMaterial( {
			color: 0xffffff * Math.random(),
			emissive: 0xffffff * Math.random(),
			specular: 0xffffff * Math.random(),
			shininess: 0.1
		} );
		mesh = new THREE.Mesh( geometry, material );
		mesh.position.set( -100, 10, 0 );
		mesh.castShadow = true;
		mesh.receiveShadow = true;
		scene.add( mesh );

// Cubes
		geometry = new THREE.BoxGeometry( 10, 10, 10 );
		for (var i = 0; i < 50; i++) {
			material = new THREE.MeshPhongMaterial( {
				color: 0xffffff * Math.random(),
				emissive: 0xffffff * Math.random(),
				opacity: Math.random(),
				specular: 0xffffff * Math.random(),
				shading: THREE.FlatShading,
				shininess: 10,
				transparent: true
			} );

			mesh = new THREE.Mesh( geometry, material );
			mesh.position.set( 100 * Math.random() - 50, 100 * Math.random(), 100 * Math.random() - 50 );
			mesh.rotation.set( 6.3 * Math.random(), 1.57 * Math.random(), 3.14 * Math.random() );
			mesh.castShadow = true;
			mesh.receiveShadow = true;
			scene.add( mesh );
			cubes.push( mesh );

			helper = new THREE.BoxHelper( mesh );
			helper.material.color.setRGB( 1, 0, 0 );
			scene.add( helper );

		}

	}

	function animate( timestamp ) {

		requestAnimationFrame( animate );
		controls.update();
		stats.update();
		renderer.render( scene, camera );

	}

</script>
</body>
</html>